@import url('https://fonts.googleapis.com/css?family=Asap:400,500,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Asap, sans-serif;
}

body {
    background-color: #24272E;
}

header {
    padding: 20px;
    background: white;
}


header>h1 {
    color: #25272E;
    text-align: center;
}

.game-container {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tower {
    height: 200px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-right: 10px;
    background-color: bisque;
    border: 6px solid beige;
}

.line-in-middle {
    width: 200px;
    height: 250px;
    background: linear-gradient(to right,
            transparent 0%,
            transparent calc(50% - 0.81px),
            rgb(156, 8, 8) calc(50% - 0.8px),
            rgb(163, 7, 7) calc(50% + 0.21px),
            transparent calc(50% + 21px),
            transparent 100%);
}

#disk1 {
    background-color: aquamarine;
    width: 90%;
    height: 50px;
}

#disk2 {
    background-color: rgb(197, 214, 166);
    width: 75%;
    height: 50px;
}

#disk3 {
    background-color: rgb(204, 124, 20);
    width: 50%;
    height: 50px;
}

#disk4 {
    background-color: rgb(2, 233, 79);
    width: 25%;
    height: 50px;
}